html, body {
  width: 100px;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;

  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.mood {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 50px;
  border: none;
}

.happy {
  background-image: url(../icons/happy.png);
}

.sad {
  background-image: url(../icons/sad.png);
}

.stoic {
  background-image: url(../icons/stoic.png);
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}